 
<div class="main">
    <div class="container  main-section">
<div class="row">
    <div class="col-lg-1 linker">
        <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
              <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-6 first">
     <p style="color:#739A33; font-size: 2.5rem; font-family: 'Quicksand', sans-serif;">Are You Hungry?</p>
     <p style="color:#739A33; font-size: 3rem; font-weight: bolder;">Don't Wait</p>
     <p>Let start To Order for Food</p>
     <button routerLink="../menu">
        Check Out Menu
     </button><br><br>
<p>For Any Enquries Contact Us:</p>
     <!-- form section -->
                <input type="text" placeholder="Enter  Name"><br><br>
                <input type="text" placeholder="Enter Email ID"><br><br>
                <textarea placeholder="Enter Your Queries" cols="45" rows="5"></textarea><br><br>
                <button routerLink="../sign-in" class="button1">SUBMIT</button>

</div>
    <div class="col-lg-5 ">
        <img class= "images1" src="/assets/images/food6.jpg" alt="">
        <ul class="location"><i class="fa fa-map-marker" aria-hidden="true"></i> <li>Visit Us At</li>  <li>Malindi Barani Kenya</li> </ul>
    </div>
</div>
</div>

    </div>