<nav class="navbar navbar-expand-lg shadow sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" style="color: #2BAE66FF; font-size: 2.5rem; font-family: 'Abyssinica SIL',serif; "> la poma</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
      <div class="navbar-nav ms-auto">
        <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Menu</a>
         <a class="nav-link" routerLink="restaurant" routerLinkActive="active-link">Restuarant</a>
        <a class="nav-link" routerLink="about-us" routerLinkActive="active-link">About-us</a>
        <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
        <a class="nav-link" routerLink="sign-in" routerLinkActive="active-link"><i class="fa fa-user-o" aria-hidden="true" style="font-weight:900;"></i></a>
       
      </div>
    </div>
  </div>
</nav>
