<div class="container-fluide main">
  <div class="row">
    <div class="col-lg-6">
      <div class="chnge">
        <p class="text-center p1">The Mediterranean Food Experiance</p>

        <img src="/assets/images/logo.png" alt="">
       
        <p class="text-center p2"> Take a look and discover an authentic gastronomic experience</p>
      </div>
    </div>

    <div class="col-lg-6 mt-5 mb-5">
      <h1 class="text-center">About-Us</h1>
      <p class="p3">
        Located a few meters from Aptech Training Center, the restaurant La Poma
        offers, for over 40 years, a gastronomic universe that you can enjoy
        from 8:30 to 1:00, non stop kitchen and service. From breakfast or
        brunch to dinner, we offer you authentic Mediterranean food, with the
        best tapas, pastas, pizzas, meat and fish as well as tasty Fried rice and
        Jollof rice. We want to be your reference restaurant in the center of
        Lagos, come and discover it
        <br /><br>  
        Located a few meters from Aptech Training Center, the restaurant La Poma
        offers, for over 40 years, a gastronomic universe that you can enjoy
        from 8:30 to 1:00, non stop kitchen and service. From breakfast or
        brunch to dinner, we offer you authentic Mediterranean food, with the
        best tapas, pastas, pizzas, meat and fish as well as tasty Fried rice and
        Jollof rice. We want to be your reference restaurant in the center of
        Lagos, come and discover it
        <br /><br>
   Located a few meters from Aptech Training Center, the restaurant La Poma
        offers, for over 40 years, a gastronomic universe that you can enjoy
        from 8:30 to 1:00, non stop kitchen and service. From breakfast or
        brunch to dinner, we offer you authentic Mediterranean food, with the
        best tapas, pastas, pizzas, meat and fish as well as tasty Fried rice and
        Jollof rice. We want to be your reference restaurant in the center of
        Lagos, come and discover it
       
      </p>
    </div>
  </div>
</div>
